.App {
  text-align: center;
  height: 100%;
  width: 100%;
  background-image: url(http://www.kiplinger.com/slideshow/investing/T052-S001-13-blue-chip-stocks-to-buy-on-the-dip/images/intro.jpg);
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  overflow: auto;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.4); /*dim the background*/
  overflow: auto;
}

.navbar {
  background-color: white;
  width: 100%;
  margin: 0;
  padding: 0;
}

#login-card {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 45%;
  width: 30%;
  min-height: 335px;
  min-width: 250px;
  transform: translate(-50%, -50%);
  background-color: rgba(193, 193, 193, 0.9);
  border-radius: 15px;
  box-shadow: 8px 8px 3px black;
}

#signup-card {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 69%;
  width: 35%;
  min-height: 565px;
  min-width: 250px;
  transform: translate(-50%, -50%);
  background-color: rgba(193, 193, 193, 0.9);
  border-radius: 15px;
  box-shadow: 8px 8px 3px black;
}

#login-inner-card, #signup-innner-card {
  height: 100%;
  width: 100%;
  opacity: 1.0;
}

.head {
  font-size: 36pt !important;
  margin-bottom: 15px !important;
  margin-top: 5% !important;
}

.form-input {
  width: 80% !important;
}

.form-message {
  margin: 0 80px !important;
  padding: 5px !important;
}

#link-caption {
  margin-top: 15px !important;
}

#submit-button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 24px;
  color: #fff;
  background-color: #6f942f;
  box-shadow: 0 5px 5px #000;
}

#submit-button:active {
  background-color: #6f942f;
  box-shadow: 0 3px 5px #000;
  transform: translateY(3px);
}
